// https://material.io/components/buttons/web#using-buttons
@use "@material/button/styles";
.mdc-button{
  --mdc-protected-button-label-text-size: 1em;
  --mdc-outlined-button-label-text-size: 1em;
  --mdc-text-button-label-text-size: 1em;
  --mdc-protected-button-container-height: 2em;
  --mdc-outlined-button-container-height: 2em;
  --mdc-text-button-container-height: 2em;
  text-transform: unset;
}
.mdc-button.block{
  display: block;
  width: 100%;
}
