:root{
  --background-a: #24292f;
  --color-header-text: #fff;

  --color-success: #52c41a;
  --color-success-hover: #73d13d;
  --color-success-active: #389e0d;
  --color-success-outline: rgba(82, 196, 26, .2);
  --color-success-deprecated-bg: #f6ffed;
  --color-success-deprecated-border: #b7eb8f;

  --color-primary: #1890ff;
  --color-primary-hover: #40a9ff;
  --color-primary-active: #096dd9;
  --color-primary-outline: rgba(24, 144, 255, .2);

  --color-error: #ff4d4f;

  --color-link: #1890ff;
  --color-link-hover: #40a9ff;
  --color-link-active: #096dd9;

  --color-description: #00000073;
}
