.copy{
  padding: 0;
  height: 35px;
  width: 35px;
  line-height: 1;
  font-size: 16px;
  color: #666666;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
  border-color: rgba(27,31,36,0.15);
  border-width: 1px;
  border-style: solid;
  background: rgb(246, 248, 250);
  &.success{
    color: var(--color-success);
    border-color: var(--color-success);
  }
}
.icon{
  vertical-align: middle;
}
