.header{
  position: relative;
  z-index: 10;
  box-shadow: 0 2px 8px #555555;
  nav{
    background: var(--background-a);
    color: var(--color-header-text);
    padding: 0 20px;
    display: grid;
  }
  .nav-list{
    & > a{
      display: inline-block;
      font-size: 0.85em;
      line-height: 4;
      padding: 0 10px;
      &:hover{
        opacity: .85;
      }
    }
  }
}
