.header{
  position: relative;
  z-index: 10;
  box-shadow: 0 2px 8px #555555;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  background: var(--background-a);
  padding: 0 20px;
  nav{
    grid-column: auto / span 2;
    background: var(--background-a);
    color: var(--color-header-text);
    display: grid;
    flex: 1;
  }
  .nav-list{
    & > a{
      display: inline-block;
      font-size: 0.85em;
      line-height: 4;
      padding: 0 10px;
      &:hover{
        opacity: .85;
      }
    }
  }
  .search{

  }
}
